<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="" /> 
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="font/iconfont.css">
<link type="text/css" rel="stylesheet" href="css/public.css" />
<link type="text/css" rel="stylesheet" href="css/index.css" />

<script src="js/jquery.js" type="text/javascript"></script>
<!--<script src="js/my.js" type="text/javascript"></script>-->
  <style>
    .el-message-box{
      width: 80% !important;
    }
  </style>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="js/vue.js" type="text/javascript"></script>
	<script src="js/util.js" type="text/javascript"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>

	<title>我的订单</title>
<body>
<div id="app">
  <header class="other_header">
    <div class="head_box">
      <a href="javascript:void(0);" onclick="goBack()" class="head_left"><i class="iconfont">&#xe6d9;</i></a>
      <span>我的订单</span>
      <a href="" class="head_right"></a>
    </div>
  </header>
  <section>
    <div class="my_order">
      <ul>
        <li v-for="item in list">
          <h2>乙方：{{item.key_property.party_name_b}} <i class="iconfont">&#xe617;</i><span>未支付</span></h2>
          <h1>科技劳动合同(模拟接口无) <span>￥{{item.price || 0}}<i>元</i></span></h1>
          <p>编号：{{item.session_id.substring(item.session_id.length-12)}}</p>
          <p>签署日期：{{item.signing_date_time.slice(0,10)}} {{item.signing_date_time.slice(11,19)}}</p>
          <div style="text-align: right;margin-top: 5px">
            <el-button @click="del(item.session_id)" round size="mini" style="margin-right: 10px;display: inline-block">取消合同</el-button>
            <el-button @click="weixinpay(item.session_id,item.price)" size="mini" type="danger" round style="display: inline-block">支付</el-button>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="loading_box" v-if="loading">
    <div class="loader loader--style1" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data(){
      return {
        loading: false,
        xid: '',
        token: '',
        list: [],
        session_id: '',
        code: ''
      }
    },
    mounted(){
      this.getId()
      this.getList()
    },
    methods:{
      // 判断是否有xid
      getId(){
        const that = this
        that.xid = sessionStorage.getItem('xid')
        that.token = sessionStorage.getItem('token')
        if(!that.xid){
          that.$message.error('未知用户，请重新登录')
          setTimeout(()=>{
            window.location = './login.html'
          },1500)
        }
      },
      // 获取合同列表
      getList(){
        const that = this
        that.loading = true
        network({
          params: {
            "state": 'complete'
          },
          path: `session?state=complete`,
          method: 'get',
          head: [
            "Content-Type: application/json",
            `X-DC-UID: ${that.xid}`
          ],
          success: function (e) {
            that.loading = false
            const data = JSON.parse(e);
            let arr = data.sessions
            that.count = data.count
            that.list = arr.map(item=>{
              let a = item
              if(item.key_property){
                let b = JSON.parse(item.key_property)
                a.key_property = b
              }
              return a
            }).filter(item=>item.key_property)
          }
        })
      },
      // 删除按钮
      del(id) {
        this.session_id = id
        this.$confirm('此操作将永久删除该合同, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.deleteSession()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });
      },
      // 删除
      deleteSession(){
        const that = this
        const id = this.session_id
        that.loading = true
        $.ajax({
          url: `${HOST1}session/${id}`,
          type: "DELETE",
          cache: false,
          crossDomain: true,
          contentType: 'application/json',
          headers: {
            'x-dc-uid': this.xid
          },
          dataType: 'json',
          success: (res)=> {
            if(res.session_id){
              that.$message.success('删除成功')
              that.getList()
            }else{
              that.$message.error('删除失败')
            }
          },
          complete:()=>{
            that.loading = false
          }
        })
      },
      // 获取code微信
      getCode(){
        const localUrl = window.location.href;
        let code = getUrlKey('code');
        if(!code){
          window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+ WX_APPID +'&redirect_uri='+ localUrl +'&response_type=code&scope=snsapi_userinfo#wechat_redirect'
        }else{
          this.code = code
        }
      },
      //支付
      weixinpay(id,price){
        const that = this;
        ourNetwork({
          type: 'post',
          url: '/index.php/home/V1/weixinpay',
          data:{
            token: that.token,
            session_id: id,
            price: price,
            code: that.code
          },
          success:function(res){
            console.log(res)
            // window.open(res)
            ourNetwork({
              type: 'post',
              url: res,
              // data: {
              //   token: that.token,
              //   session_id: id,
              //   price: price
              // },
              success: (res2) => {
                console.log(res2);
              }
            })

            // that.loading = false
            // const data = JSON.parse(res)
            // if(data.error_code == 200){
            //   // console.log(data)
            //   const url = data.data.url
            //   window.open(HOST+url)
            // }else {
            //   that.$message.error('支付失败')
            // }
          },
          fail: function (res) {
            that.loading = false
          }
        })
      }

    }
  })

</script>
</body>
</html>